.edit-container {
  width: 1000px;
  margin: 0 auto 0 auto;
}

th.edit {
  width: 100px;
}

input.edit-text {
  width: calc(100% - 6px - 23px);
  margin: 0;
  padding: 2px;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: solid;
}

input.edit-date {
  text-align: left;
  width: 200px;
  margin: 0;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: solid;
}

textarea.edit-text {
  width: calc(100% - 6px);
  margin: 0;
  padding: 2px;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: solid;
}

div.edit-checkbox {
  text-align: left;
  width: 100%;
  margin: 0;
}

input.edit-checkbox {
  margin: 0px 3px 0px 0px;
}

label.edit-checkbox {
  font-size: 0.8rem;
  font-weight: 200;
  vertical-align: top;
}

button.edit-create {
  float: left;
  background-color: var(--comora-color-pale-purple);
  margin: 4px 4px 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 8px;
}

button.edit-cancel {
  float: right;
  background-color: var(--comora-color-dirk-purple);
  margin: 4px 4px 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 8px;
}
