th.first {
  border-top-width: 1px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

th.second {
  /* 高さが変わるたびに調整が必要なので、良くない */
  position: sticky;
  top: 26px;
  left: 0;
  z-index: 1;
}

td.genres {
  width: 10%;
}

td.links {
  width: 5%;
}

td.movie {
  font-size: 0.7rem;
}

td.actors {
  font-size: 0.6rem;
  width: 10%;
}
