thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

thead tr:nth-child(2) th {
  position: sticky;
  top: calc(1.5rem + 2px);
  left: 0;
  z-index: 1;
}

td.genres {
  width: 10%;
}

td.links {
  width: 5%;
}

td.movie {
  font-size: 0.7rem;
}

td.actors {
  font-size: 0.6rem;
  width: 10%;
}
