:root {
  --comora-color-pale-purple: #c1abd2;
  --comora-color-dirk-purple: #8457a8;
  --comora-color-yellow: #fbcb2d;
}

a {
  text-decoration: none;
}

input {
  font-size: 0.8rem;
  font-weight: 200;
  font-family: "Kosugi Maru", sans-serif;
}

div.box {
  position: relative;
  font-size: 13px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--comora-color-pale-purple);
  margin: 0px 10px 10px 10px;
  padding: 13px 10px 10px 10px;
  color: #2c3e50;
}

div.box-outline {
  display: block;
  padding: 13px 0px 0px 0px;
  border-color: var(--comora-color-dirk-purple);
  background-color: #ffffff;
}

div.box .caption {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  padding: 0 1em;
  margin: 0;
  background-color: white;
  transform: translateY(-50%) translateX(1em);
}

.text-upper {
  vertical-align: top;
}

.text-center {
  text-align: center;
}

.text-bottom {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.text-center {
  text-align: center;
}
