:root {
  --comora-color-pale-purple: #c1abd2;
  --comora-color-dirk-purple: #8457a8;
  --comora-color-yellow: #fbcb2d;
}

a {
  text-decoration: none;
}

input {
  font-size: 0.8rem;
  font-weight: 200;
  font-family: "Kosugi Maru", sans-serif;
}

.text-upper {
  vertical-align: top;
}

.text-center {
  text-align: center;
}

.text-bottom {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.text-center {
  text-align: center;
}
